/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #222;
}

header h1{
    color: whitesmoke
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 100px 20px;
    background: url('https://source.unsplash.com/1600x900/?skateboard') no-repeat center center/cover;
}

/* Product Section */
.products {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.product {
    background: #909090;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}
.product img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}

/* Footer */
footer {
    text-align: center;
    background: #8e8b8b;
    padding: 20px;
}
